{% extends 'base.html' %}

{% block title %}Contato{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4 shadow-sm">
                <form class="form-horizontal" action="" method="post">
                    <fieldset>
                        <legend class="text-center mb-4"><strong>Contato</strong></legend>
                        
                        <!-- Name input-->
                        <div class="form-group mb-3">
                            <label for="name" class="form-label">Nome</label>
                            <input id="name" name="name" type="text" placeholder="Seu nome" class="form-control">
                        </div>
                        
                        <!-- Email input-->
                        <div class="form-group mb-3">
                            <label for="email" class="form-label">Seu E-mail</label>
                            <input id="email" name="email" type="email" placeholder="Seu email" class="form-control">
                        </div>
                        
                        <!-- Message body -->
                        <div class="form-group mb-3">
                            <label for="message" class="form-label">Sua mensagem</label>
                            <textarea id="message" name="message" placeholder="Escreva sua mensagem aqui..." class="form-control" rows="5" style="resize: none; overflow: hidden; height: 200px;"></textarea>
                        </div>
                        
                        <!-- Form actions -->
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary-contato btn-lg w-100" style="margin-top: -10px;">Enviar</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

