{% extends 'perfil.html' %}

{% block form_editar_perfil %}

<div class="container text-center">
    <hr>
    <div class="row justify-content-center">
        <!-- Formulário Editar Perfil -->
        <div class="col-md-5">
            <form method="POST" action="" class="border p-4 mt-2 shadow-sm rounded" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <legend class="text-center mb-4">Editar Perfil</legend>
                <fieldset>
                    <div class="form-group mb-3">
                        {{ form.username.label(class="form-label") }}
                        
                        {% if form.username.errors %}
                            {{ form.username(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for erro in form.username.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form.username(class="form-control") }}
                            {% endif %}
                    </div>
                    <div class="form-group mb-3">
                        {{ form.email.label(class="form-label") }}
                        
                        {% if form.email.errors %}
                            {{ form.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for erro in form.email.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form.email(class="form-control") }}
                            {% endif %}
                    </div>
                    <div class="form-group mb-3">
                        {{ form.bio.label(class="form-label") }}
                        
                        {% if form.bio.errors %}
                            {{ form.bio(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for erro in form.bio.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form.bio(class="form-control") }}
                            {% endif %}
                    </div>
                    <div class="form-group mb-3">
                        {{ form.foto_perfil.label }}
                        {{ form.foto_perfil(class="form-control-file") }}
                        {% if form.foto_perfil.errors %}

                        {% for erro in form.foto_perfil.errors %}
                            <span class="text-danger">{{ erro }}</span><br>
                        {% endfor %}

                    {% endif %}
                    </div>
                    <hr>
                    <p>Preferências Alfáticas</p>

                    {% for campo in form %}
                        {% if 'perfume_' in campo.name %}
                        <div class="form-check mb-3 d-flex align-items-center">
                            {{ campo.label(class="form-check-label order-2") }}
                            {{ campo(class="form-check-input order-1 ms-2") }}
                        </div>
                        {% endif %}
                    {% endfor %}

                </fieldset>
                <button type="submit" name="btn_submit_login" class="btn btn-primary w-100">
                    {{ form.btn_submit_editarperfil.label }}
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}